*{
    margin: 0;
    padding:0;	
}
.b{
    border: solid thin #dadada;
}
.dropdown-menu li .next-li, .dropdown-menu li p{
    margin: 3px 12px;
}
body{
    /*background-color:#dadada;*/
}
body > header{
    min-height:50px;
}
body > footer{/*
    background-color:#ccc;
    min-height:200px;*/
    text-align:center;
}
body > section{
    background-color:white;
    border-radius:8px;
    margin:0 auto;
    min-height:400px;
    padding:10px;
    width:80%;
}
img{
    border-radius: 4px;
}
#movie{
    margin:0 auto;
    width:90%;
}
.movie_image{
    padding:5px 5px;
}
.title{
    margin:4px;
    padding:4px;
}
.table tr:hover{
    background-color:#dadada;
    border-radius:8px;
    color: orange;
    cursor:pointer;
    margin:4px;
    padding:4px;
}
table td{
    color:orange;
}
img.img50{
    max-width: 50px;
}
.title a{
    color:green;
    text-decoration:none;
}
.title div{
    font-size:12px;
    color:gray;
}
#unit-box{
    
}
#unit-box > h1{
    text-align: center;
}

#full-serch-bar{
    border-radius: 6px;
    margin: 0 auto 20px;
    padding: 10px;
    width: 65%;
}
#search-form{
    margin: 0 auto;
    margin-left: 30px;
    width: 95%;
}
#search-form #search-btn{
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 46px;
    margin: 0px 0 0 -48px;
    width: 46px;
}
#search-form #search-btn > p{
    margin-top: 8px;
}
#search{
    font-size: 20px;
    height: 30px;
    line-height: 24px;
    margin: 0 auto;
    padding: 8px;
    width: 90%;
}

.bonton {
    margin: 2px 5px 3px;
    width: 50px;
}
.content-box{
    line-height: 14px;
    margin-left: 38px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content-box p{
    margin: 0px;
}
.content-box .avatar{
    position: absolute;
    top:7px;
    left: 14px;
}
.content-box *{
    display: inline-block;
}
.metadata{
    color: #999;
    display: block;
    font-size: 11px;
}
.content-box:hover, .content-box >:hover{
    color: #fff;
}
.size32{
    width: 32px;
    height: 32px;
}

.fullname{
    color: #333;
    font-weight: bold;
    margin-left: 0px;
}
.color-fff{
    color:#fff;
}

.input-small{
    margin: 2px auto;
    width: 80%;
}

#btn-login{
    margin-right: 10px;
}
.disblock{
    display: block;
}
/*ul.dropdown-menu{
    display: block;    
}
a.menu:after, .dropdown-toggle:after {
    content: none;
}*/














@media screen and (max-width:979px){
    #search-form{
        margin-left: 20px;
    }
}
@media screen and (max-width:760px){
    #full-serch-bar{
        width: 90%;
    }
}
@media screen and (max-width:480px){
    #full-serch-bar{
        width: 95%;
    }
    .hero-unit{
        padding: 20px;
    }
    #search-form{
        margin-left: 10px;
    }
}