{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Hola mundo en HTML5</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/style.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/plugins.js"></script>
    </head>
    <body>
        <header>
            <p>&iexcl;Hola, Python, Django, Git y GitHub!</p>
        </header>
        <section>
            <p>Busqueda de Peliculas usando el servicio tmdb.com</p><br />
            <form id="busqueda">
                <input type="text" id="search" value="" autofocus placeholder="Busqueda por Titulo"/>
            </form>
            <br />
            <span id="load"></span>
            <div id="movie"></div>
        </section>
        <footer>
            <a href="http://twitter.com/Maoaiz">@MaoAiz</a>
        </footer>
    </body>
</html>
